@model ClassProject.Models.vmCourseSearch
@section Scripts{

    <script type="text/javascript">
        var request = new AjaxRequest();
        request.Url = "Course/Index";
        request.Verb = Verb.Post;

        request.OnSuccess.Add(bind);
        request.OnError.Add(error);

        function getfields() {
            $GridView("courses").Loading("Loading...");
            request.Post();
        }

        function bind(e) {
            var list = e.ResponseObject;
            $GridView("courses").Bind(e.ResponseObject);
        }
        function error() {
            $GridView("courses").Loading("An error occurred during the search.");
        }


        @*Page.OnLoad.Add(function () {
            $Button("vend").OnClick.Add(function () {
                Page.Href("@Url.Action("Create", "Vendor", "")");
            });
        }); *@      
    </script>
}
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Find Courses</legend>
        <div style="display: inline-block">
            <div class="editor-label">
                Search By
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SearchText, new { @placeholder = "Course Title", style = "width:400px" })
            </div>
        </div>
        <div style="display: inline-block">
            <div class="editor-label">
                Department
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SelectedDept, new SelectList(Model.Departments, "ID", "Name"), "Any")
            </div>
        </div>
        <div style="display: inline-block">
            <div class="editor-label">
                Instructor
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SelectedInst, new SelectList(Model.Instructors, "Key", "Value"), "Any")
            </div>
        </div>
        <br />
        <br />
        <p style="text-align: center">
            <input id="search" type="button" onclick="getfields()" value="Search" />
        </p>
    </fieldset>
}

<table class="gridview" id="courses" width="99%">
    <thead>
        <tr>
            <th width="50" data="Course/Details/{ID}" display="Details" type="link"></th>
            <th width="50" data="Course/Edit/{ID}" display="Edit" type="link"></th>
            <th width="50" data="Course/Delete/{ID}" display="Delete" type="link"></th>
            <th data="DepartmentName">Department</th>
            <th data="Title">Title</th>
            <th data="Credits">Credits</th>
            <th data="InstructorName">Instructor</th>
        </tr>
    </thead>
</table>
