@model ClassProject.Models.vmEnrollment

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Enrollment</legend>
        @Html.HiddenFor(model => model.CourseID)
        <div class="display-label">Student</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Student.Person.FullName)
        </div>
        <div class="display-label">Course</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Course.Title)
        </div>
        <div class="display-label">Semester</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Semester.Name)
        </div>
        <div class="display-label">Grade</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Grade)
        </div>
    </fieldset>

    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
