@model ClassProject.Models.vmTextbook

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm()) {

    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>

<fieldset>
    <legend>Textbook</legend>
    @Html.HiddenFor(model => model.ID)
    <div class="display-label">ISBN Number</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.ISBNNumber)
	</div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

	<div class="display-label">Price</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Price)
	</div>

    <div class="display-label">Publisher</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publisher.Name)
    </div>
    <div class="display-label">Publisher City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publisher.City)
    </div>
    <div class="display-label">Publisher State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publisher.State)
    </div>
    <div class="display-label">Author</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author.Person.FullName)
    </div>

    <div class="display-label">Publish Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishDate)
    </div>
</fieldset>
}
