@model ClassProject.Models.vmStudent

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Details</legend>
    <div class="display-label">Student Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.FullName)
    </div>
    <div class="display-label">Enrollment Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
